%section.main
  .editor
    - if @activeStep()
      - transducer = @activeStep().transducer()
      %h2.title= transducer.title
      .form-group
      - if transducer.type() is "dataset"
        %span Data comes from a
        %select.form-control.select-inline(@options)
        .inline-form-container
          %input.form-control(value=@sourceUrl)
          %button.btn.btn-default(type="button" click=@loadData) Load

        - if @data().length
          %pre= @prettyPrintData

        %table.table.hidden
          %thead
            %tr
              - @headers().forEach (header) ->
                %th= header.replace(/[@]/g, "").trim()

          %tbody
            - @body().forEach (cells) ->
              %tr
                - cells.forEach (value) ->
                  %td= value
      - if transducer.type() is "edit"
        .spreadsheet
      - if transducer.type() is "mapping"
        .form-group
          %h4 Perform operations on a single row and return the same sized dataset. "@" refers to the current row you're working with.
          %textarea.form-control(value=@mapTransform)
      - if transducer.type() is "sorting"
        .form-group
          %h4 Reorder dataset based on relation of values in a row to each other.
          %textarea.form-control(value=@sortTransform)
      - if transducer.type() is "expansion"
        .form-group
          %h4 Expand
          %textarea.form-control
      - if transducer.type() is "aggregation"
        .form-group
          %h4 Filter dataset to a smaller size

        .form-group
          %h5 Premade
          %select.form-control(value=@aggregator options=@aggregatorOptions)

        %h4 OR

        .form-group
          %h5 Custom
          %textarea.form-control(value=@aggregateTransform)

        .form-group
          %h4 Apply Across
          %textarea.form-control(value=@groupBy)

        %h4 Output
        .pre
        .reduction-output= @aggregate
