.container
  .form-group
    %h4 Data Source
    %input.form-control(value=@sourceUrl)

  %button.btn.btn-default(type="button" data-toggle="collapse" data-target="#raw-output") View Raw Source
  #raw-output.collapse
    %pre(style="max-height:300px;")= @prettyPrintData

  .form-group
    %h4 Mapping Transformation
    %textarea.form-control(value=@mapTransform)

  .form-group
    %button.btn.btn-default(type="button" click=@applyMapping) Apply Mapping

  %pre= @mapping

  %table
    %thead
      %tr
        - each @headers, (header) ->
          %th= header.replace(/[@]/g, "").trim()

    %tbody
      - each @body, (cells) ->
        %tr
          - each cells, (value) ->
            %td= value

  .form-group
    %h4 Reduce Transformation

  .form-group
    %h4 Sum
    %textarea.form-control(value=@reduceTransform)

  %h4 Output
  .pre
    .reduction-output= @reduction
